/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

header, footer {
  text-align: center;
  background-color: #e30613;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #bbfd04;
  font-weight: bold;
}

main {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form select, form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #e30613;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #b50510;
}
.logo {
  width: 180px;       
  height: auto;       
  display: block;     
  margin: 20px auto;  
}